{% extends 'base.html' %}

{% block css1%}

.index-table {
  margin: 1em 0;
  min-width: 500px;
}
.index-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.index-table th {
  display: none;
}
.index-table td {
  display: block;
}
.index-table td:first-child {
  padding-top: .5em;
}
.index-table td:last-child {
  padding-bottom: .5em;
}
.index-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .index-table td:before {
    display: none;
  }
}
.index-table th, .index-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .index-table th, .index-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .index-table th:first-child, .index-table td:first-child {
    padding-left: 0;
  }
  .index-table th:last-child, .index-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: black;
}

.index-table {
  background: black;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.index-table tr {
  border-color: #46637f;
}
.index-table th, .index-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .index-table th, .index-table td {
    padding: 1em !important;
  }
}
.index-table th, .index-table td:before {
  color: #dd5;
}
a {
    color : white;
}

{% endblock css1%}



{% block html1 %}

<h1 align="center">Index</h1>
<p align="center">
<table class="index-table">
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr>
    <td data-th="Item">Topic/all</td>
    <td data-th="Description">Get list of all topic</td>
    <td data-th="Link"> <a href="{% url 'topic' %}">Topic</a> </td>
  </tr>
  <tr>
    <td data-th="Item">Media/all</td>
    <td data-th="Description">Get list of all media</td>
    <td data-th="Link"> <a href="{% url 'media' %}">Media</a> </td>
  </tr>
  <tr>
    <td data-th="Item">Media?Topic</td>
    <td data-th="Description">Get media by topic (id=1)</td>
    <td data-th="Link"><a href="{% url 'media?topic' %}">Media by Topic</a></td>
  </tr>
  <tr>
    <td data-th="Item">Subscriber?Media</td>
    <td data-th="Description">Get media by Subscriber id (id=1)</td>
    <td data-th="Link"><a href="{% url 'subscriber?media' %}">Media by Subscriber</a></td>
  </tr>

</table>
</p>
{% endblock html1 %}
