{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% load socialaccount %}
{% providers_media_js %}


<body>
<div class = 'container'>
    <p>

    <p>Firs name :  {{user.first_name}}</p>
    <p>Last name :  {{user.last_name}}</p>
    <p>Email :  {{user.email}}</p>

        <button><a href="{% provider_login_url "google" %}">Google Login</a></button>
        <button><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Login</a></button>
    </p>
</div>

</body>


{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}