{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% load socialaccount %}
{% providers_media_js %}


<body>
<div class = 'container'>
    <p>

    <p>First name :  {{user.first_name}}</p>
    <p>Last name :  {{user.last_name}}</p>
    <p>Email :  {{user.email}}</p>

        <button><a href="{% provider_login_url "google" %}">Google Login</a></button>
        <button><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Login</a></button>
    </p>
</div>

{% block content %}


  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
</body>

